<div class="inbox u-margin-top-small">
  <p class="inbox__paragraph">
    All of the messages below have been sent to your e-mail as well. Sometimes e-mails go to spam, so here you can see
    the messages that you have received from the application system.
  </p>
</div>

<div class="mail">
  <div class="messages  u-margin-top-small">
    <svg class="messages__icon">
      <use xlink:href="../../../assets/sprite.svg#icon-mail"></use>
    </svg>
    <div class="messages__header">
      <h4 class="messages__header--title">Appointment from Faculty</h4>
      <span class="messages__header--subheading">Jan 11, 2022</span>
    </div>

    <div class="messages__content">
      <p class="messages__content--paragraph">
        Dear Adedire,
      </p>
      <p class="messages__content--paragraph">
        Congratulations!
      </p>
      <p class="messages__content--paragraph">
        We are glad that you have decided to apply for studies in Air Force Institute of Technilogy! We wish you good luck in the
        process and hope that it will be the start of a new and exciting adventure for you.
      </p>

      <p class="messages__content--paragraph">
        To access your application(s), receive your offers and manage other data at this website, please use your email
        adedireemmanuel@gmail.com to sign in.
      </p>
      <p class="messages__content--paragraph">
        Goodluck.
      </p>
    </div>
  </div>

  <div class="messages  u-margin-top-small">
    <svg class="messages__icon">
      <use xlink:href="../../../assets/sprite.svg#icon-mail"></use>
    </svg>
    <div class="messages__header">
      <h4 class="messages__header--title">Welcome</h4>
      <span class="messages__header--subheading">Jan 10, 2022</span>
    </div>

    <div class="messages__content">
      <p class="messages__content--paragraph">
        Hi Adedire,
      </p>
      <p class="messages__content--paragraph">
        We are glad that you have decided to apply for studies in Air Force Institute of Technilogy! We wish you good luck in the
        process and hope that it will be the start of a new and exciting adventure for you.
      </p>

      <p class="messages__content--paragraph">
        To access your application(s), receive your offers and manage other data at this website, please use your email
        adedireemmanuel@gmail.com to sign in.
      </p>
      <p class="messages__content--paragraph">
        Goodluck.
      </p>
    </div>
  </div>
</div>
