<div class="inbox">
  <svg class="inbox__icon">
    <use xlink:href="../../../assets/sprite.svg#icon-mail"></use>
  </svg>
  <div class="inbox__content">
    <p class="inbox__heading">Threat Assessment</p>
    <p class="inbox__subheading">Result of threat assessment are shown below</p>
  </div>
</div>


<div class="account">
  <div class="account__header u-margin-top-small">
    <div class="account__header--icon">
      <svg>
        <use xlink:href="../../../assets/sprite.svg#icon-notebook-list"></use>
      </svg>
    </div>
    <h3 class="account__header--heading">Threat analysis</h3>
  </div>

  <div class="account__content u-margin-top-small">
    <div class="account__content--application">
      <div class="account__content--about">
        <p class="account__content--about-rank">Past Records</p>
        <span>Threats</span>
      </div>

      <div class="account__content--opts">
        <a href="#" class="account__content-btn account__content-btn--edit">
          <svg class="account__content--icon">
            <use xlink:href="../../../assets/sprite.svg#icon-edit"></use>
          </svg>
          <span>Upload Data</span>
        </a>
        <!-- <a href="#" class="account__content-btn account__content-btn--view">
          <svg class="account__content--icon">
            <use xlink:href="../../../assets/sprite.svg#icon-eye"></use>
          </svg>
          <span>View</span>
        </a> -->
      </div>
    </div>
    <div class="account__qualification">
      <!-- <div class="account__qualification--profile">
        <p class="account__qualification--number">1</p>
        <div class="account__qualification--content">
          <p class="account__qualifiation--type">B.SC</p>
          <p class="account__qualification--specialization">Computer Science</p>
          <div class="account__qualification--school">
            <svg>
              <use xlink:href="../../../assets/sprite.svg#icon-home"></use>
            </svg>
            <span>University of Middlesbrough</span>
          </div>
        </div>
      </div>
      <div class="account__qualification--profile">
        <p class="account__qualification--number">2</p>
        <div class="account__qualification--content">
          <p class="account__qualifiation--type">M.SC</p>
          <p class="account__qualification--specialization">Computer Science</p>
          <div class="account__qualification--school">
            <svg>
              <use xlink:href="../../../assets/sprite.svg#icon-home"></use>
            </svg>
            <span>Covenant University</span>
          </div>
        </div>
      </div>
      <div class="account__qualification--profile">
        <p class="account__qualification--number">3</p>
        <div class="account__qualification--content">
          <p class="account__qualifiation--type">Ph.D</p>
          <p class="account__qualification--specialization">Computer Science</p>
          <div class="account__qualification--school">
            <svg>
              <use xlink:href="../../../assets/sprite.svg#icon-home"></use>
            </svg>
            <span>Universiti Utara Malaysia</span>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
