$color-primary: #1d8df7;
$color-primary-light: #2998ff;
$color-primary-dark: #5643fa;

$color-secondary-light: #c69963;
$color-secondary-dark: #B28451;

$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ddd;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #555;

$color-white: #fff;
$color-black: #101d2c;
