.dashboard-header {
  background-color: $color-white;
  grid-column: content-start / full-end;
  display: grid;
  grid-template-columns: min-content max-content 1fr;
  align-content: center;
  align-items: center;
  gap: 3rem;
  box-shadow: 0 0 15px 0 rgba($color-black, 0.2);
  z-index: 800;
}

.header__btn-box {
  margin-left: 2rem;
}

.header__heading {
  font-size: 1.25rem;
  font-weight: 700;
  color: $color-grey-dark-3;
}

.header__nav-btn {
  border: none;
  border-radius: 0;
  background-color: $color-black;
  height: 2.8px;
  width: 3.5rem;

  &::before,
  &::after {
    border: none;
    border-radius: 0;
    background-color: $color-black;
    height: 2.8px;
    width: 3.5rem;
    content: "";
    display: block;
  }

  &::before {
    transform: translateY(-1.2rem);
  }
  &::after {
    transform: translateY(1rem);
  }
}

.user-nav {
  justify-self: end;
  margin-right: 2rem;

  &__user {
    display: flex;
    align-content: center;
    gap: 0.8rem;

    svg {
      width: 1.75rem;
      height: 1.75rem;
      fill: $color-black;
    }

    span {
      font-size: 1.25rem;
      font-weight: 700;
      color: $color-grey-dark-3;
      align-self: flex-end;
    }
  }
}
