<div class="container">
  <header class="header">
    <div class="header__logo-box">
      <img src="../../assets/img/lautechLogo.jpeg" alt="Logo" class="header__logo">
      <p class="header__logo-text">SWEEP TEAM, Lautech</p>
    </div>

    <div class="sidebar">
      <button class="nav-btn"></button>
    </div>
  </header>
  <section class="section-hero">
    <h1 class="hero__heading">
      <span class="hero__heading--main">Department of Cyber Security</span>
      <span class="hero__heading--sub">Threat Intelligence</span>
    </h1>
    <a [routerLink]="['/login']" class="hero__btn hero__btn--white hero__btn--animated">Login to Dashboard</a>
  </section>
  <section class="section-info">
    <h3 class="heading-3 heading-3--secondary">Latest News</h3>
    <div class="info">
      <img src="../../assets/img/college-3.jpg" alt="2021/2022 Admission List" class="info__img">
      <div class="info__details">
        <h4 class="heading-4 heading-4--info info__details-text">Introduction to dark web</h4>
        <p class="info__details-date">2 Jan, 2025</p>
      </div>

      <img src="../../assets/img/college-4.jpg" alt="NCC donates 200 computers to FC" class="info__img">
      <div class="info__details">
        <h4 class="heading-4 heading-4--info info__details-text">NCC donates 200 computers to department</h4>
        <p class="info__details-date">3 Dec, 2024</p>
      </div>

      <img src="../../assets/img/college-5.jpg" alt="Dean Charges Students on the importance of Software Development"
        class="info__img">
      <div class="info__details">
        <h4 class="heading-4 heading-4--info info__details-text">Dean Charges Students on the importance of Software
          Development</h4>
        <p class="info__details-date">2 Nov, 2023</p>
      </div>
    </div>
    <a href="#" class="info__btn">See more &rarr;</a>
  </section>

</div>
